/**
 * @file ms-plantilla.css
 * @description Estilos aplicables a la visualización de elementos relacionados con el MS Plantilla
 * @author Víctor M. Rivas Santos <vrivas@ujaen.es>
 * @date 03-Feb-2023
 */

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
}

